<!DOCTYPE html>
<html>
	<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/flat-ui.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
		<style>
			.grouplist{float:left;margin-right:10px;}
			.panel_group{display:none;}
			.fui-cross{cursor:pointer;}
			.switch{margin-top:5px;}
			.rg{float: right; cursor:pointer;}
			h4{vertical-align:bottom;}
			table tbody tr td {vertical-align:middle!important;}
			#con-wrapper{min-height:600px;}
			.footer{text-align:center;}
		</style>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand nav-font" href="/">Switch-hosts</a>
        </div>
		<div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav" id="switch-tab">
				
			</ul>	
		</div>
      </div>
    </div>


    <div id="con-wrapper">
	    <!-- dymatic server config -->
		<div class="container J_content" style="display:none;">
			<h4>
				<img src="images/icons/svg/clipboard.svg" alt="hosts" width="35" height="35"> Hosts 
			</h4>
			<hr>
			<div id="hosts"></div>
		</div>
		<script type="template/javascript" id="hosts_template">
		    <div>
			<button type="button" class="btn btn-primary" data-action="addHostGroup"><span class="fui-plus"></span></button>
			<a class="rg" data-action="clearHostCache">
				清空hosts缓存 请复制此地址在浏览器打开<input value="chrome://net-internals/#sockets" type="text"/>
		    </a>
		    </div>
			{% if(_.keys(hosts).length){ %}
			<br/>	
		    <div class="panel panel-success">
	        	<div class="panel-heading">
	          		<h3 class="panel-title">Hosts Groups</h3>
	        	</div>
					<div class="panel-body">
					{% _.each(_.keys(hosts),function(group){ %}		
						<div class="grouplist">
							<button data-action="activeHost" data-value="{%= group %}" type="button" class="btn btn-sm btn-success mr">{%= group %}</button>
							<span class="panel_group">
								<button data-action="addHost" data-value="{%= group %}" type="button" class="btn btn-sm btn-info mr">Add</button>
								<button data-action="editHostGroup" data-value="{%= group %}" type="button" class="btn btn-sm btn-warning mr">Edit</button>
								<button data-action="removeHostGroup" data-value="{%= group %}" type="button" class="btn btn-sm btn-danger mr">Del</button>
							</span>
						</div>
					{% }); %}		
					</div>
	        </div>
			<div>
			{% for(var i in hosts){ %}
				<table id="hosts_table_{%= i %}" data-groupname="{%= i %}" class="table table-condensed table-hover">
				<thead>
					<tr class="bg-info">
						<th colspan="3">{%= i %}</th>
						<th>
							<button data-action="activeHostGroup" data-groupname="{%= i %}" type="button" class="btn btn-sm btn-success mr">Active</button>
							<button data-action="disableHostGroup" data-groupname="{%= i %}" type="button" class="btn btn-sm btn-danger mr">Disable</button>
							<button data-action="toggleHost" data-groupname="{%= i %}" type="button" class="btn btn-sm btn-primary mr"></button>
						</th>
					</tr>
					<tr>
						<th width="30%">Domain</th>	
						<th width="30%">Ip</th>	
						<th width="20%">Switch</th>	
						<th width="20%">Operate</th>	
					</tr>
				</thead>
				<tbody>
				{% _.each(hosts[i],function(item){ %}
					<tr>
						<td data-action="editinput" data-node="domain" data-groupname="{%= i %}" data-ip="{%= item.ip %}" data-domain="{%= item.domain%}" data-disabled="{%= item.disabled %}"> {%= item.domain %}</td>
						<td data-action="editinput" data-node="ip" data-groupname="{%= i %}" data-ip="{%= item.ip %}" data-domain="{%= item.domain%}" data-disabled="{%= item.disabled %}"> {%= item.ip %}</td>
						<td>
							<input data-node="checkHost" data-ip="{%= item.ip %}" data-domain="{%= item.domain %}" data-groupname="{%= i %}" {%= item.disabled ? '' : 'checked' %} type="checkbox">	
						</td>
						<td>
							<button data-action="removeHost" data-ip="{%= item.ip %}" data-groupname="{%= i %}" data-domain="{%= item.domain %}"type="button" class="btn btn-xs btn-danger">Delete</button>
						</td>
					</tr>	
				{% }) %}
				</tbody>
				</table>
			{% } %}	
			</div>
			{% } %}
		</script>
	</div>
	<div class="container footer">
		<hr/>
		<p class="text-muted"><small class="text-danger">	
		<% for(var i=0;i<ip.length;i++){ %>
			<%= ip[i][0] %> : <%= ip[i][1] %> &nbsp;&nbsp;
		<% } %>
		</small>
		<br>	
		<small>© 2014 - 2099 Prower by <a href="https://github.com/liuxiaoyue" target="_blank">liuxiaoyue</a></small>
		</p>
	</div>
	<script src="/javascripts/lithe.js" data-config="/config.js" data-main="conf/main.js" data-timestamp="1"></script>
  </body>
</html>
